body { min-height: 100vh; display: flex; flex-direction: column; }
header{ } 
main{flex-grow: 1;} 
footer{ }
 
/* *{
    border: 1px solid red;
} */

.icons {
    display: inline-block;
}

/*Custom font*/
.text-fancy {
    font-family: 'Odibee Sans', cursive;
}

.bg-img {
    background-image: url("https://wallpapercave.com/wp/wp4719062.jpg");
    height: 80vh;
    background-size: cover;
}

img {
    width: 100%;
    height: 100%;
}
.text-faint {
    color: rgba(0, 0, 0, 0.3);
}

textarea {
    resize: none;
    border-color: lightgray;
}

/*Hover transitions between width, color, and font-size*/
.hovered {
    width: 50%;
    height: 200%;
    background: black;
    color: orange;
    transition: width 1s, color 1s, font-size 1s;
}
.hovered:hover {
    width: 75%;
    height: 100%;
    font-size: 2rem;
    color: orangered;
}

html {
    scroll-behavior: smooth;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* changes elements when screen width is 768px or bigger */
@media only screen and (min-width: 768px) {
    /* makes position relative until 768px, then makes it absolute */
    .position-mobile {
        position: absolute;
    }

    .text-size {
        font-size: 2rem;
    }
}
/* changes elements when screen width is 768px or smaller */
@media only screen and (max-width: 768px) {
    .text-size {
        font-size: 1rem;
    }

    .text-bg-mobile {
        color: transparent;
        border: none;
    }
}